:root {
    /*--background-color: rgb(248, 248, 248);*/
    --background-color: rgba(64, 65, 1);
    --accent-color: rgb(237, 120, 153);
    --base-color: rgb(245, 245, 245);
    /*--base-color: rgb(194, 205, 231);*/
    --dark-grey-color: rgba(64, 65, 1);
    --font-size: 16px;
}

html {
    background-color: var(--background-color);
}

.container {
    display: flex;
    justify-content: center;
    height: 900px;
}

.calculator {
    border: 1px solid #ccc;
    padding: 10px;
    width: 620px;
    background-color: var(--base-color);
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px var(--accent-color);
}

.calculator input {
    margin-bottom: 5px;
    padding: 10px;
    font-size: var(--font-size);
    color: rgba(64, 65, 1);
    border-radius: 10px;
    border-color: var(--dark-grey-color);
    font-weight: bold;
}

.x-graph-input {
    width: 180px;
}

.calculator button {
    width: 100px;
    padding: 10px;
    font-size: var(--font-size);
    border-radius: 10px;
    border-color: rgba(64, 65, 1);
    color: rgba(64, 65, 1);
    margin-bottom: 5px;
    font-weight: bold;
    /*background-color: var(--base-color);*/
}

.expression-input {
    width: 595px;
}

.x-input {
    width: 283px;
}

.btn-pink {
    background-color: var(--accent-color);
}

a {
    color: rgba(64, 65, 1);
    text-decoration: none;
    font-size: 18px;
}

.tabs-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tab-form {
    border: none;
    background: none;
    color: rgba(64, 65, 1);
    cursor: pointer;
    /*text-decoration: underline;*/
    /*font-size: inherit;*/
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin-right: 10px;
}

.select-container-history {
    width: 600px;
    background-color: var(--accent-color);
    border-radius: 10px;
    padding: 10px;
    color: rgba(64, 65, 1);
    border-color: rgba(64, 65, 1);
    font-size: 15px;
    font-weight: bold;
}
