<!DOCTYPE html>
{% load static %}

<html style="--background-color: {% if background == 'light' %}rgb(248, 248, 248){% else %}rgb(134,137,150){% endif %};
        --accent-color: {% if main_color == 'pink' %}rgb(237, 120, 153){% else %}rgb(114, 202, 175){% endif %};
        --font-size: {% if font_size == '16' %}16px{% else %}14px{% endif %};">

<head>
    <title>{% block title %}SmartCalc{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'scripts/script.js' %}"></script>
    {% block additional_scripts %}{% endblock %}
    {% block additional_styles %}{% endblock %}
</head>

<body>
    <div class="tabs-container">
        <form action="/" method="GET">
            <!--        {#{% csrf_token %}#}-->
            <input type="submit" value="Calculator" class="tab-form">
        </form>
        <form action="/about">
            <!--        {#{% csrf_token %}#}-->
            <input type="submit" value="About" class="tab-form">
        </form>
    </div>

    {% block content %}
    {% endblock %}

</body>

</html>

