{% extends 'base.html' %}

{% block title %}SmartCalc Graphic{% endblock %}

{% block additional_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}

{% block additional_styles %}
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .chart-container {
            width: 900px;
            height: 500px;
        }

        h1 {
            color: rgba(64, 65, 1);
        }
    </style>
{% endblock %}

{% block content %}
<h1>{{ expression }}</h1>

<div class="chart-container">
    <canvas id="myChart"></canvas>
</div>

<script>
    const xyValues = {{ xy_values|safe }};
    new Chart("myChart", {
        type: "scatter",
        data: {
            datasets: [{
                pointRadius: 2,
                backgroundColor: "rgba(141,108,159,1)",
                borderColor: "rgba(192,174,202,1)",
                data: xyValues
            }]
        },
        options: {
            legend: {display: false},
            scales: {
                xAxes: [{ticks: {min: {{x_min}}, max: {{x_max}}}}],
                yAxes: [{ticks: {min: {{y_min}}, max: {{y_max}}}}],
            }
        }
    });
</script>
{% endblock %}
