{% extends 'base.html' %}

{% block title %}SmartCalc{% endblock %}

{% block content %}
<div class="container">
    <div class="calculator">
        <form id="calculator-form">
            {% csrf_token %}
            <input type="text" class="expression-input" id="expression" name="expression"
                   placeholder="Enter an expression" value="{{ expression_or_result }}" maxlength="255">
            <!--readonly-->
            <br>
            <button class="btn-pink" type="button" onclick="graphExpression(event);">GRAPH</button>
            <button onclick="appendValue('x', event);">x</button>
            <input type="number" class="x-input" id="x_num" name="x_num" value="{{ x_value|default:'1.0' }}">
            <!--title="Three letter country code">-->
            <button class="btn-pink" onclick="clearExpression(event);">AC</button>
            <br>
            <button onclick="appendValue('sin', event);">sin</button>
            <button onclick="appendValue('asin', event);">asin</button>
            <button onclick="appendValue('e', event);">e</button>
            <button onclick="appendValue('(', event);">(</button>
            <button onclick="appendValue(')', event);">)</button>
            <button class="btn-pink" onclick="appendValue('^', event);">^</button>
            <br>
            <button onclick="appendValue('cos', event);">cos</button>
            <button onclick="appendValue('acos', event);">acos</button>
            <button onclick="appendValue('1', event);">1</button>
            <button onclick="appendValue('2', event);">2</button>
            <button onclick="appendValue('3', event);">3</button>
            <button class="btn-pink" onclick="appendValue('/', event);">/</button>
            <br>
            <button onclick="appendValue('tan', event);">tan</button>
            <button onclick="appendValue('atan', event);">atan</button>
            <button onclick="appendValue('4', event);">4</button>
            <button onclick="appendValue('5', event);">5</button>
            <button onclick="appendValue('6', event);">6</button>
            <button class="btn-pink" onclick="appendValue('*', event);">*</button>
            <br>
            <button onclick="appendValue('0', event);">mod</button>
            <button onclick="appendValue('ln', event);">ln</button>
            <button onclick="appendValue('7', event);">7</button>
            <button onclick="appendValue('8', event);">8</button>
            <button onclick="appendValue('9', event);">9</button>
            <button class="btn-pink" onclick="appendValue('-', event);">-</button>
            <br>
            <button onclick="appendValue('sqrt', event);">sqrt</button>
            <button onclick="appendValue('log', event);">log</button>
            <button onclick="appendValue('.', event);">.</button>
            <button onclick="appendValue('0', event);">0</button>
            <button name="equal" onclick="calculateExpression(event)">=</button>
            <button class="btn-pink" onclick="appendValue('+', event);">+</button>
            <br>
            <button onclick="return false;">x_min</button>
            <input type="number" data-min="-1000000" data-max="1000000" class="x-graph-input graph-input" id="x_min"
                   name="x_min" value="{{ x_min|default:'-10' }}">
            <button onclick="return false;">x_max</button>
            <input type="number" data-min="-1000000" data-max="1000000" class="x-graph-input graph-input" id="x_max"
                   name="x_max" value="{{ x_max|default:'10' }}">
            <br>
            <button onclick="return false;">y_min</button>
            <input type="number" data-min="-1000000" data-max="1000000" class="x-graph-input graph-input" id="y_min"
                   name="y_min" value="{{ y_min|default:'-10' }}">
            <button onclick="return false;">y_max</button>
            <input type="number" data-min="-1000000" data-max="1000000" class="x-graph-input graph-input" id="y_max"
                   name="y_max" value="{{ y_max|default:'10' }}">


            <div class="col-sm-4 right">
                <h3 style="text-align: center;">History</h3>
                <div style="text-align: center;">
                    <select class="select-container-history" name="history" style="width: 600px;">
                        {% for iter in history %}
                        <option class="select-container-history-item" value="{{ iter }}">{{ iter }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="tabs-container">
                    <button name="select" onclick="selectHistory(); return false;" style="margin: 5px 3px;">Select</button>
                    <button name="clean_history" onclick="cleanHistorySubmit();" style="margin: 5px 2px;">Clean</button>
                </div>
            </div>


            <h3 style="text-align: center;">Configuration</h3>
            <div style="text-align: center;">
                <label>
                    <input type="radio" name="background" value="light"
                           {% if background == 'light' %}checked{% endif %}/>
                    Light
                </label>
                <label>
                    <input type="radio" name="background" value="dark" {% if background == 'dark' %}checked{% endif %}/>
                    Dark
                </label>
                <button name="select-background" onclick="backgroundSubmit();">Select Background</button>

                <br>

                <label>
                    <input type="radio" name="main_color" value="pink" {% if main_color == 'pink' %}checked{% endif %}/>
                    Pink
                </label>
                <label>
                    <input type="radio" name="main_color" value="green"
                           {% if main_color == 'green' %}checked{% endif %}/>
                    Green
                </label>
                <button name="select-main-color" onclick="colorSubmit();">Select Main Color</button>

                <br>

                <label>
                    <input type="radio" name="font_size" value="14" {% if font_size == '14' %}checked{% endif %}/>
                    14
                </label>
                <label>
                    <input type="radio" name="font_size" value="16" {% if font_size == '16' %}checked{% endif %}/>
                    16
                </label>
                <button name="select-font-size" onclick="fontSubmit();">Select Font Size</button>
            </div>
        </form>
    </div>
</div>

<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>
    $('body').on('input', '.graph-input', function () {
        if (this.value < $(this).data('min')) {
            this.value = $(this).data('min');
        } else if (this.value > $(this).data('max')) {
            this.value = $(this).data('max');
        }
    });
</script>
{% endblock %}
